body {
  margin: 0 auto;
}

figure {
  width: 100%;
  margin: 0;
}

figure img {
  width: 100%;
}

figure figcaption {
  position: absolute;
  width: 45vw;
  top: 33vw;
  left: 8vw;
  padding: 0 1vw 2vw 0;
}

figure figcaption h1 {
  margin: 0;
  color:aliceblue;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

main section {
  width: 29vw;
  margin: 1vw;
}

main section img {
  margin: auto;
  height: 18vw;
  display: block;
}

main section article {
  background: white;
  padding: 0.5vw 1vw;
}

main section article h2 {
  margin: 0;
  padding: 0;
}

main section article a {
  background: black;
  color: white;
  padding: 0.2vw 0.5vw;
}

.conteneur {
  display: flex;
}

.conteneur img {
  width: 50%;
  margin-left: 3vw;
}

.conteneur p {
  margin-left: 2vw;
  margin-right: 2vw;
}

.conteneur2 {
  display: flex;
}

.conteneur2 img {
  width: 50%;
  margin-right: 3vw;
}

.conteneur2 p {
  margin-left: 3vw;
  margin-right: 2vw;
}

/* img.Left {
  display: block;
  float: left;
}

p.Right {
  display: block;
  float: right;
} */

footer {
  border: 2px solid black;
}

footer h4 {
  text-align: center;
}

@media screen and (max-width: 990px) {
  main section {
  
    width: 100vw;
    margin: 0vw;
    /* border: 1px solid black;
    margin: 0; */
  }

  main section article h2 {
    text-align: left;
    margin-left: 12vw;
  }

  main section article a {
    text-align: left;
    margin-left: 12vw;
    margin-bottom: 5vw;
  }

  main section img {
    height: 50vw;
  }

  figure figcaption {
    width: 92vw;
    left: 40vw;
    top: 30vw;
  }

  .conteneur {
    margin: 10vw;
  }

  .conteneur2 {
    margin: 10vw;
  }
}
